{
  "presets": [
    "@babel/preset-typescript",
    "@babel/react",
    "@babel/env",
    "minify"
  ],
  "plugins": [
    ["module-resolver", {"alias": {"^@internal/(.+)$": "./@internal/\\1"}}],
    ["@babel/plugin-proposal-object-rest-spread"]
  ]
}
